h1 {
    font-weight: 900;
}

input {
    box-sizing: border-box;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
}

.inputField{
    text-align: center;
}

.landingPage{
    position: absolute;
    bottom: 15%;
}

.formPage{
    position: absolute;
    bottom: 40%;
}

.formButton{
    width: 90%;
    border-radius: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#signupPageButton{
    background-color: black;
    border-color: transparent;
    color: white;
}

#signupButton{
    color: black;
    background-color: rgb(216, 216, 216);
    border-color: transparent;
    position: relative;
    top: 300px;
}

#loginPageButton{
    color: black;
    border-color: transparent;
}

#loginButton{
    color: black;
    background-color: rgb(216, 216, 216);
    border-color: transparent;
    position: relative;
    top: 300px;
}

